<!DOCTYPE html>
<html>
	<head lang="pt-br">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/bootstrap-grid.min.css">
		<link rel="stylesheet" href="assets/css/style.css">
		<title>Vovó Vegana | Confeitaria Vegana</title>
	</head>
	<body>
		<header class="header mt-3">
			<div class="">
				<a href=""><img class="position-absolute logo d-none d-md-block" src="assets/img/meialua-logo.png" alt=""></a>
			</div>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="/"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMark" aria-controls="navbarMark" aria-expanded="false" aria-label="Botão navegação">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse text-center" id="navbarMark" style="margin-right: 100px;">
					<div class="navbar-nav ml-auto mr-lg-5">
						<a class="nav-item nav-link mr-4" href="/">Home <span class="sr-only">(current)</span></a>
						<a class="nav-item nav-link mr-4" href="/quem-somos">Quem Somos</a>
						<div class="dropdown">
							<a href="" class="nav-item nav-link mr-4 dropdown-toggle" id="dropdownmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Produtos
							</a>
							<div class="dropdown-menu text-center" aria-labelledby="dropdownmenu">
								<a href="" class="dropdown-item">Bolos Decorados</a>
								<a href="" class="dropdown-item">Docinhos</a>
								<a href="" class="dropdown-item">Pão de Melado</a>
								<a href="" class="dropdown-item">Bem~Casado / Bem~Nascido</a>
								<a href="" class="dropdown-item">Tortas</a>
							</div>
						</div>
						<a class="nav-item nav-link mr-4" href="/contato">Contato</a>
					</div>
				</div>
			</nav>
		</header>